<div class="wrapper"><h1>Guest book</h1><p id="notice"><%= notice %></p>

<table><thead><% @entries.each do |entry| %>
   	<th><b><%= entry.name %></th></thead><tbody><tr><td></b> wrote <%= entry.created_at %>:
	<%= entry.comment %></tr>
</td></tr>
<% end %></tbody></table>

<br>
<%= link_to "Add entry", new_entry_path %></div>
