<<<<<<< HEAD
<div class="table">
<table id="entry">
	<thead><% @entries.each do |entry| %>
   		<th><h1 id="title"><%= entry.name %> wrote:</h1></th>
   	</thead>
   	<tbody>
   		<tr>
   			<td><big><%= entry.comment %></big> <br>
   			<small>at: <%= entry.created_at %></small>
			</td>
		</tr><% end %>
	</tbody>
	<tfoot>
		<div class="link entry"><%= link_to "Want to leave us a message?", new_entry_path %></div>
	</tfoot>
</table>
</div>
=======
<div class="wrapper">
	<h1>Guest book</h1>
	<%= link_to "New entry", new_entry_path %>
	<table id="entry">
		<thead><% @entries.each do |entry| %>
			<th><b><%= entry.name %></th></b>
		</thead>
		<tbody>
			<tr>
				<td> wrote <%= entry.created_at %>:
					<%= entry.comment %></tr>
				</td>
			</tr><% end %>
		</tbody>
	</table>
</div>
>>>>>>> 0b3e13ed41dcaf8137c740399bbcca57255b8824
