<h1>Guest book<p id="notice"></h1><%= notice %></p>
<p>Last entries:</p>
<% @entries.each do |entry| %>
  <div>
 	<div><%= entry.name %> wrote <%= entry.created_at %>:</div>
	<div><%= entry.comment %></div>
  </div>
<% end %>

<br />
<%= link_to "Add entry", new_entry_path %>
