<div id="page-wrapper">
  <h1>New entry in guest book</h1>
  <%= form_for @entry do |f| %>
  <% if @entry.errors.any? %>
  <ul>
    <% @entry.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>
  <p>
    <%= f.label :name, "Your name:" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :comment, "Your entry:" %> <br/>
    <%= f.text_area :comment %>
  </p>
  <%= f.submit "Add" %>
  <% end %>
</div>
