<div class="page-wrapper">
    <h1>Search results for: <%= @q %></h1>
    <% if @books.empty? %>
    <% else %>
    <strong>
        <ul>Books:</strong>
            <% @books.each do |book| %>
            <li><%= link_to book.title, book %></li>
            <% end %>
        </ul>
        <%= will_paginate @books %>
    <% end %>
    <% if @authors.empty? %>
    <% else %>
    <ul>
        <strong>Authors:</strong>
        <% @authors.each do |author| %>
        <li><%= link_to author.full_name, author %></li>
        <% end %>
    </ul>
    <%= will_paginate @authors %>
<% end %>
<% if @categories.empty? %>
<% else %>
<ul>
    <strong>Categories:</strong>
    <% @categories.each do |categories| %>
    <li><%= link_to categories.name, categories %></li>
    <% end %>
</ul>
<%= will_paginate @categories %>  
<% end %>
</div>