<div class="table"><table>
<<<<<<< HEAD
<table>
  <thead>
    <tr>
      <th><h1 id="title">First name</h1></th>
      <th><h1 id="title">Last name</h1></th>
      <th></th>
      <% if user_signed_in? %>
      <th></th>
      <th></th>
      <% end %>
    </tr>
  </thead>
  <tfoot>
        <% if user_signed_in? %> <div class="link"><%= link_to 'New Author', new_author_path %></div> <% end %>
  </tfoot>
  <tbody>
    <% @authors.each do |author| %>
=======
  <table>
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th></th>
        <% if user_signed_in? %>
        <th></th>
        <th></th>
        <% end %>
      </tr>
    </thead>
    <tfoot>
      <% if user_signed_in? %> <div class="link"><%= link_to 'New Author', new_author_path %></div> <% end %>
    </tfoot>
    <tbody>
      <% @authors.each do |author| %>
>>>>>>> 0b3e13ed41dcaf8137c740399bbcca57255b8824
      <tr>
        <td><%= author.first_name %></td>
        <td><%= author.last_name %></td>
        <td><%= link_to 'About author', author %></td>
        
        <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_author_path(author) %></td>
        <td><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
<<<<<<< HEAD
    <% end %>
  </tbody>
</table>
=======
      <% end %>
    </tbody>
  </table></div>



>>>>>>> 0b3e13ed41dcaf8137c740399bbcca57255b8824
</div>