<div class="table"><table>
<table>
  <thead>
    <tr>
      <th><h1 id="title">First name</h1></th>
      <th><h1 id="title">Last name</h1></th>
      <th></th>
      <% if user_signed_in? %>
      <th></th>
      <th></th>
      <% end %>
    </tr>
  </thead>
  <tfoot>
        <% if user_signed_in? %> <div class="link"><%= link_to 'New Author', new_author_path %></div> <% end %>
  </tfoot>
  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.first_name %></td>
        <td><%= author.last_name %></td>
        <td><%= link_to 'About author', author %></td>
        
        <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_author_path(author) %></td>
        <td><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>