<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @author.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @author.last_name %>
</p>

  <strong>Books:</strong>
<ul>
<% @author.books.each do |book| %>
      
        <li><%= link_to book.title, book %></li>
      
    <% end %>
</ul>
<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
