<div class="wrapper"><p id="notice"><%= notice %></p>

<h2><%= @author.first_name %> <%= @author.last_name %></h2>

<p> <strong>Biography from DBpedia:</strong><%= @biography %> </p>

  <strong>Books:</strong>
<ul>
<% @author.books.each do |book| %>
      
        <li><%= link_to book.title, book %></li>
      
    <% end %>
</ul>
<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %> | 
<%= link_to 'Add Book', new_author_book_path(@author,@book) %></div>
