<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author.full_name %> <%= link_to 'Show author', @book.author %>
</p>



  <p>
    <strong>Category:</strong>
   
  	<%if @book.categories.empty? %>No categories<% end %>
	<% @book.categories.each do |category| %> 
        <%= category.name %> <%= link_to 'Show category', category %></p>
  <% end %>
  </p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %> |
<%= link_to 'Add Category', new_book_category_path(@book) %>
