<div class="listing"><h1 class="entry">Hello <%= @user.email %>, these are your reservations:</h1>

<table>
  <thead>
    <tr>
      <th><h1 id="title">Book</h1></th>
      <th><h1 id="title">Return date</h1></th>
      <th></th>
      <th></th>

    </tr>

  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
	<td><%= link_to reservation.book.title, reservation.book %></td>
	<td><%= reservation.date %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    </tr>
    <% end %>


  </tbody>
</table>

<h1 class="reserv"><%= link_to "Change password and email", edit_user_registration_path %></h1>
<h1 class="reserv"><%= link_to 'New Reservation', new_reservation_path %></h1>
</div>
